.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .help-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .help-text {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .help-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .help-info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .help-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .help-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .help-value {
    font-size: 18px;
  }
  
  .help-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .help-message-text {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .help-message-btn {
    background-color: #1E90FF;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .help-message-btn:hover {
    background-color: #0066CC;
  }
  